**/settings/*.crun
**/settings/*.dbgdt
**/settings/*.cspy
**/settings/*.cspy.*
**/settings/*.xcl
**/settings/*.dni
**/settings/*.wsdt
**/settings/*.wspos

**/ewarm/Exe

**/Debug/Exe/
**/Debug/BrowseInfo/

**/Debug/List

**/Obj/*.pbd
**/Obj/*.pbd.*
**/Obj/*.pbi
**/Obj/*.pbi.*

Backup*

*.dep
*.log
*.bin
*.elf
*.hex
*.map
*.o
*.a
*.bak
*.dnx
*ninja*
*.reggroups
*.out
*.uvprojx
*.uvoptx
*.uvguix
*.uvgui

.vscode

simulator/*Data
simulator/*dat

src/TivaWare_C_Series-2.1.4.178/*examples
src/CMSIS-5.6.0/CMSIS/**/Examples
src/CMSIS-5.6.0/CMSIS/DSP
